<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Testonator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BC7ABEF1E62E62C007107F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC7AC051E62E62C007107F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC7AC101E62E62C007107F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
